<form class="form-inline" method="GET" action="{{{clearingaction}}}">
    <input type="hidden" name="userid" value="{{userid}}">
    <input class="btn btn-primary" type="submit" value="Remove files">
</form>